set system security-profile bronze logical-system interconnect
{% for zz in lsys_members %}
  {% set rowloop = loop %}
  {% for i in zz %}
    {% if i == "hostname" %}
      {% set unit = rowloop.index %}

set logical-systems interconnect interfaces lt-0/0/0 unit {{ unit }}0 description "Interconnect: {{ zz.hostname }}"
set logical-systems interconnect interfaces lt-0/0/0 unit {{ unit }}0 encapsulation ethernet-vpls
set logical-systems interconnect interfaces lt-0/0/0 unit {{ unit }}0 peer-unit {{ unit }}1
set logical-systems interconnect routing-instances interconnect interface lt-0/0/0.{{ unit }}0
      {% if zz.hostname == "root" %}

set interfaces lt-0/0/0 unit {{ unit }}1 description "Interconnect: interconnect"
set interfaces lt-0/0/0 unit {{ unit }}1 encapsulation ethernet
set interfaces lt-0/0/0 unit {{ unit }}1 peer-unit {{ unit }}0
set interfaces lt-0/0/0 unit {{ unit }}1 family inet address 10.0.1.{{ unit }}/24
set security zones security-zone trust interfaces lt-0/0/0.{{ unit }}1
set protocols ospf area 0.0.0.0 interface lt-0/0/0.{{ unit }}1
      {% else %}

set logical-systems {{ zz.hostname }} interfaces lt-0/0/0 unit {{ unit }}1 description "Interconnect: {{ zz.hostname }}"
set logical-systems {{ zz.hostname }} interfaces lt-0/0/0 unit {{ unit }}1 encapsulation ethernet
set logical-systems {{ zz.hostname }} interfaces lt-0/0/0 unit {{ unit }}1 peer-unit {{ unit }}0
set logical-systems {{ zz.hostname }} interfaces lt-0/0/0 unit {{ unit }}1 family inet address 10.0.1.{{ unit }}/24
set logical-systems {{ zz.hostname }} security zones security-zone untrust interfaces lt-0/0/0.{{ unit }}1
set logical-systems {{ zz.hostname }} protocols ospf area 0.0.0.0 interface lt-0/0/0.{{ unit }}1
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

set logical-systems interconnect routing-instances interconnect instance-type vpls

